# Spring Boot
APP_SERVER_PORT=8080

# IBM watsonx.ai deployment settings
IBM_API_KEY=your_ibm_cloud_api_key
IBM_DEPLOYMENT_ENDPOINT=https://au-syd.ml.cloud.ibm.com
IBM_DEPLOYMENT_ID=your_deployment_id
IBM_API_VERSION=2021-05-01
IBM_TOKEN_URL=https://iam.cloud.ibm.com/identity/token
